/* =======================================
 * COLOR
 /* ======================================= */
/* =======================================
  * OTHERS
  /* ======================================= */
/* =======================================
  * RESPONSIVE MARK
  /* ======================================= */
/* USAGE */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto+Mono:wght@500&display=swap");
html,
body {
  font-family: "Lato", sans-serif; }

html *,
body * {
  box-sizing: border-box; }

.bg-holder img {
  display: block;
  width: 100%;
  height: auto; }

.icon-holder {
  width: 100px;
  height: 100px; }
  .icon-holder svg {
    width: 50%; }
    .icon-holder svg .sound-indicator-item {
      transform-origin: center bottom;
      animation: soundWave 1.2s linear infinite; }
      .icon-holder svg .sound-indicator-item.item-2 {
        animation-duration: 1.7s;
        animation-delay: 0.24s; }
      .icon-holder svg .sound-indicator-item.item-3 {
        animation-duration: 1.3s;
        animation-delay: 0.45s; }

@keyframes soundWave {
  0%,
  100% {
    transform: scaleY(0.5); }
  25% {
    transform: scaleY(0.3); }
  75% {
    transform: scaleY(0.8); } }

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden; }
  html .page-wrapper,
  body .page-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    background-color: #222;
    grid-template-columns: auto 320px;
    grid-template-rows: auto 280px; }

.illustration-block {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Background Layer */
  /* Main Content Layer */ }
  .illustration-block .background-layer {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222; }
    .illustration-block .background-layer .page-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden; }
      .illustration-block .background-layer .page-bg.active {
        opacity: 1;
        visibility: visible; }
      .illustration-block .background-layer .page-bg.bg-between {
        background: linear-gradient(#c94b4b, #4b134f); }
      .illustration-block .background-layer .page-bg.bg-nighttime {
        background: linear-gradient(#0f0c29, #302b63, #24243e); }
      .illustration-block .background-layer .page-bg.bg-daytime {
        background: linear-gradient(#f2994a, #f2c94c); }
  .illustration-block .content-layer {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .illustration-block .content-layer.offline {
      filter: brightness(0.3) grayscale(0.75); }
    .illustration-block .content-layer .main-content {
      width: 445px;
      height: 400px;
      position: relative; }
      .illustration-block .content-layer .main-content .content-background {
        opacity: 0;
        height: 100%;
        width: 100%; }
        .illustration-block .content-layer .main-content .content-background img {
          width: 100%; }
      .illustration-block .content-layer .main-content .content-item {
        position: absolute;
        opacity: 0; }
        .illustration-block .content-layer .main-content .content-item.item-bed {
          z-index: 2;
          width: 42.2%;
          top: 40%;
          left: 2.6%; }
        .illustration-block .content-layer .main-content .content-item.item-desk {
          z-index: 3;
          width: 45.1%;
          top: 17%;
          left: 27.7%; }
        .illustration-block .content-layer .main-content .content-item.item-shelf {
          z-index: 5;
          width: 27.4%;
          top: 27.97%;
          left: 70.5%; }
        .illustration-block .content-layer .main-content .content-item.item-rug {
          z-index: 4;
          width: 17.56%;
          top: 74.7%;
          left: 40.9%; }
        .illustration-block .content-layer .main-content .content-item.item-clock {
          z-index: 3;
          width: 6.4%;
          top: 22.3%;
          left: 17.95%; }
      .illustration-block .content-layer .main-content .screen-item {
        position: absolute;
        z-index: 6;
        background-color: #666;
        width: 19%;
        height: 9.7%;
        overflow: hidden;
        top: 18.4%;
        left: 38.2%;
        display: none; }
        .illustration-block .content-layer .main-content .screen-item.active {
          display: block; }
        .illustration-block .content-layer .main-content .screen-item .screen-item-layout {
          width: 75%;
          margin: 10% auto 0;
          background-color: #eee;
          height: 320%;
          padding-top: 10%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          animation: scrolling 10s cubic-bezier(0.55, 0.01, 0.48, 1) 500ms infinite; }
          .illustration-block .content-layer .main-content .screen-item .screen-item-layout .layout-column {
            background-color: #aaa;
            flex-basis: 45%;
            margin-bottom: 5%; }
            .illustration-block .content-layer .main-content .screen-item .screen-item-layout .layout-column.column-3 {
              flex-basis: 90%;
              width: 100%; }
    .illustration-block .content-layer.offline .screen-item {
      display: none !important; }
      .illustration-block .content-layer.offline .screen-item .screen-item-layout {
        animation: none; }

.bottom-widget {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden; }
  .bottom-widget .widget {
    width: 100%;
    height: 100%;
    position: relative; }
    .bottom-widget .widget .widget-name {
      position: absolute;
      right: 0;
      top: 6px;
      background-color: #666;
      color: #fff;
      margin: 0;
      font-size: 11px;
      padding: 3px 8px;
      z-index: 3; }
    .bottom-widget .widget .widget-content {
      width: 100%;
      height: 100%; }
  .bottom-widget .take-note-widget .widget-content {
    display: flex;
    flex-direction: column; }
    .bottom-widget .take-note-widget .widget-content .notes-holder {
      flex-grow: 1;
      width: 100%;
      max-width: 100%;
      overflow: hidden; }
      .bottom-widget .take-note-widget .widget-content .notes-holder .note-list {
        display: flex;
        max-width: none;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%; }
        .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item {
          flex-basis: 220px;
          flex-shrink: 0;
          background-color: #fff;
          margin: 10px 6px;
          width: 220px;
          height: calc(100% -10px);
          max-height: calc(100% -10px);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          padding: 15px;
          overflow-x: hidden;
          overflow-y: auto;
          position: relative; }
          .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item .note-desc,
          .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item p,
          .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item .note-title {
            margin-top: 0; }
          .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item .note-desc {
            color: #333;
            font-size: 13px;
            line-height: 1.65; }
          .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item .note-action {
            position: absolute;
            text-align: center;
            padding: 15px 0;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4); }
            .bottom-widget .take-note-widget .widget-content .notes-holder .note-list .note-item .note-action .btn {
              background-color: transparent;
              width: 32px;
              height: 32px;
              border: 1px solid #fff;
              margin: 0 5px;
              border-radius: 16px;
              line-height: 30px;
              text-align: center; }

@keyframes floating {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes scrolling {
  0%,
  25%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50%,
  75% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%); } }
