/* =======================================
 * COLOR
 /* ======================================= */
/* =======================================
  * OTHERS
  /* ======================================= */
/* =======================================
  * RESPONSIVE MARK
  /* ======================================= */
/* USAGE */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap");
html {
  margin: 0;
  padding: 0; }
  html * {
    box-sizing: content-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0; }
  body.full-screen {
    overflow: hidden; }
  body .container {
    width: 100%;
    margin: auto; }
  @media (max-width: 768px) {
    body {
      height: auto; }
      body.full-screen {
        overflow-x: hidden;
        overflow: auto; } }

.gameplay-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; }
  .gameplay-wrapper .request-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; }
  .gameplay-wrapper #gameplay-canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .gameplay-wrapper #gameplay-canvas {
        max-width: none;
        width: 100%;
        height: auto;
        max-height: none;
        margin: 0 auto; } }

section .section-title {
  font-size: 24px;
  margin-bottom: 20px; }

section .desc {
  font-size: 18px;
  margin-bottom: 15px; }

section .cta-holder {
  margin-top: 40px; }
  section .cta-holder .cta-title {
    font-size: 30px; }
  section .cta-holder .cta {
    display: inline-block;
    line-height: 48px;
    font-size: 24px;
    color: #fff;
    padding: 0 30px;
    background-color: #4472c4;
    border-radius: 5px; }

section .txt-center {
  text-align: center; }

.mold-element {
  position: fixed;
  z-index: -1;
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100); }

/* Hide Header And Footer On Mobile Landscape Mode */
@media (max-width: 999px) and (orientation: landscape) {
  header,
  footer {
    display: none; } }

.debug-console {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #999;
  left: -200px; }
  .debug-console ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    text-indent: 0; }
    .debug-console ul li {
      margin-bottom: 10px; }
      .debug-console ul li button {
        font-size: 15px;
        display: block;
        margin: auto; }
  .debug-console .debug-message {
    padding: 15px;
    font-size: 14px; }
    .debug-console .debug-message p {
      margin-bottom: 10px; }
      .debug-console .debug-message p:hover {
        color: #f92207; }
  @media only screen and (max-width: 768px) {
    .debug-console {
      display: none; } }

#top-page-wrapper .top-page-banner {
  width: 100%;
  position: relative;
  height: 33.33vw;
  background-color: #eaeaea; }

#top-page-wrapper .top-page-main-content {
  padding: 30px 0; }

#top-page-wrapper .top-page-disclaimer {
  padding: 30px 0; }
  #top-page-wrapper .top-page-disclaimer .container {
    background-color: #eee;
    padding: 30px;
    border-radius: 20px; }
    #top-page-wrapper .top-page-disclaimer .container ul {
      margin: 0; }

#header_top {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto 0;
  text-align: center; }
  #header_top .header_inner {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
  #header_top .m01 {
    width: 49%;
    float: left;
    text-align: left; }
  #header_top .m02 {
    width: 50%;
    float: left;
    text-align: right; }
    #header_top .m02 img {
      padding: 13px 0 0; }

@media only screen and (max-width: 1368px) {
  #header_top .header_inner {
    width: 100%;
    margin: 0 auto;
    text-align: center; } }

@media only screen and (max-width: 768px) {
  #header_top {
    width: 100%;
    height: auto; } }

#footer {
  width: 100%;
  background-color: #ff9132; }
  #footer .footer_1 {
    width: 960px;
    padding: 11px 0;
    padding-right: 20px;
    margin: 0 auto;
    text-align: right;
    color: #ffffff; }

@media only screen and (max-width: 1368px) {
  #footer {
    padding-right: 20px; }
    #footer .footer_1 {
      width: 100%; } }

html {
  margin: 0;
  padding: 0; }
  html * {
    box-sizing: content-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0; }
  body.full-screen {
    overflow: hidden; }
  body .container {
    width: 100%;
    margin: auto; }
  @media (max-width: 768px) {
    body {
      height: auto; }
      body.full-screen {
        overflow-x: hidden;
        overflow: auto; } }

.gameplay-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; }
  .gameplay-wrapper .request-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; }
  .gameplay-wrapper #gameplay-canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .gameplay-wrapper #gameplay-canvas {
        max-width: none;
        width: 100%;
        height: auto;
        max-height: none;
        margin: 0 auto; } }

section .section-title {
  font-size: 24px;
  margin-bottom: 20px; }

section .desc {
  font-size: 18px;
  margin-bottom: 15px; }

section .cta-holder {
  margin-top: 40px; }
  section .cta-holder .cta-title {
    font-size: 30px; }
  section .cta-holder .cta {
    display: inline-block;
    line-height: 48px;
    font-size: 24px;
    color: #fff;
    padding: 0 30px;
    background-color: #4472c4;
    border-radius: 5px; }

section .txt-center {
  text-align: center; }

.mold-element {
  position: fixed;
  z-index: -1;
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100); }

/* Hide Header And Footer On Mobile Landscape Mode */
@media (max-width: 999px) and (orientation: landscape) {
  header,
  footer {
    display: none; } }
