html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;

	// Page Wrapper
	.page-wrapper {
		width: 100%;
		height: 100vh;
		position: relative;

		/* Background Layer */
		.background-layer {
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #222;

			// Background Item
			.page-bg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				// Original State
				opacity: 0;
				visibility: hidden;

				// Active State
				&.active {
					opacity: 1;
					visibility: visible;
				}

				&.bg-between {
					background: linear-gradient(#c94b4b, #4b134f);
				}

				&.bg-nighttime {
					background: linear-gradient(#0f0c29, #302b63, #24243e);
				}

				&.bg-daytime {
					background: linear-gradient(#f2994a, #f2c94c);
				}
			}
		}

		/* Main Content Layer */
		.content-layer {
			z-index: 2;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 10vh;

			&.offline {
				filter: brightness(0.3) grayscale(0.75);
			}

			&.online {
				// filter: sepia(12%);
			}

			// animation: floating linear 30s infinite;

			// Main Content
			.main-content {
				position: relative;
				// The Background
				.content-background {
					opacity: 0;

					img {
						height: 70vh;
					}
				}

				// The Item Inside
				.content-item {
					position: absolute;
					opacity: 0;

					// The Bed
					&.item-bed {
						z-index: 2;
						width: 42.2%;
						top: 40%;
						left: 2.6%;
					}

					// The Desk
					&.item-desk {
						z-index: 3;
						width: 45.1%;
						top: 17%;
						left: 27.7%;
					}

					// The Shelf
					&.item-shelf {
						z-index: 5;
						width: 27.4%;
						top: 27.97%;
						left: 70.5%;
					}

					// The Rug
					&.item-rug {
						z-index: 4;
						width: 17.56%;
						top: 74.7%;
						left: 40.9%;
					}

					// The Clock
					&.item-clock {
						z-index: 3;
						width: 6.4%;
						top: 22.3%;
						left: 17.95%;
					}
				}

				.screen-item {
					position: absolute;
					z-index: 6;
					background-color: #666;
					width: 19%;
					height: 9.7%;
					overflow: hidden;
					top: 18.4%;
					left: 38.2%;

					// Original State
					display: none;

					&.active {
						display: block;
					}

					.screen-item-layout {
						width: 75%;
						margin: 10% auto 0;
						background-color: #eee;
						height: 320%;
						padding-top: 10%;
						display: flex;
						justify-content: space-around;
						flex-wrap: wrap;
						animation: scrolling 10s cubic-bezier(0.55, 0.01, 0.48, 1) 500ms infinite;

						.layout-column {
							background-color: #aaa;
							flex-basis: 45%;
							margin-bottom: 5%;

							&.column-3 {
								flex-basis: 90%;
								width: 100%;
							}
						}
					}
				}
			}

			&.offline {
				.screen-item {
					display: none !important;

					.screen-item-layout {
						animation: none;
					}
				}
			}
		}

		/* Information Layer */
		.information-layer {
			// Copyright
			.copyright-block {
				position: absolute;
				z-index: 5;
				right: 0;
				bottom: 0;
				padding: 10px 15px;
				color: #fff;
				opacity: 0.5;
				font-size: 20px;
				font-weight: 600;
			}

			// Clock
			.clock-block {
				position: absolute;
				z-index: 6;
				width: 50%;
				left: 25%;
				padding: 15px;
				font-size: 28px;
				color: #fff;
				font-family: "Roboto Mono", monospace;
				text-align: center;

				& > * {
					display: block;
				}
			}

			// Controller
			.controller-block {
				position: absolute;
				z-index: 7;
				left: 0;
				padding: 10px;
				// Control Time Button
				.control-time,
				.control-status {
					color: #fff;
					border: 1px solid #fff;
					line-height: 2.25;
					display: block;
					width: 120px;
					font-size: 11px;
					text-align: center;
					margin-bottom: 8px;
					background: transparent;
					outline: none;
					cursor: pointer;
					transition: all ease-in 100ms;
					font-weight: 600;
					&:hover {
						background-color: #fff;
						color: #333;
						transition: all ease-out 150ms;
					}
				}
			}
		}
	}
}

@keyframes floating {
	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	50% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
}

@keyframes scrolling {
	0%,
	25%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50%,
	75% {
		-webkit-transform: translateY(-75%);
		transform: translateY(-75%);
	}
}
